<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Tools of Data Science Marked Assignment

This notebook is part of the final marked assignment for the Tools of data science course, where I will include some details about the data science ecosystem.

**Objectives:**
   * Listing popular data science languages
   * Listing some popular data science libraries
   * Creating a table of popular data science libraries
   * Creating examples of arithmetic performed in code

Some Popular data science programming languages include:
1. Python
1. R
1. Java
1. Javascripts
1. SQL
1. Scala

And some popular libraries include:
1. Pandas
1. NumPy
1. TensorFlow
1. PyTorch
1. Keras
1. Ggplot2
1. Vegas

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebooks</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>

Here are some examples of solving arithmetic expressions in Python

In [1]:
#a simple arithmetic expression, that involves multiplication and addition
(4*16)+15+(3*11)

112

In [5]:
#To convert x minutes into hours you need to divide by 60

x=200

print(str(x/60)+"h")

3.3333333333333335h

## Author
Ilin Karagjozov